* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #ffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eaeaea;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar,  #tutorial-div::-webkit-scrollbar {
    display: none;
}

p {
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0;
    text-align: left;
    margin: 0;
}

hr:not([size]) {
    background-color: #ff2e63;
    height: 2px;
}

#container img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    size: 100%;
}

#legend {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    color: #252a34;
    max-height: 0;
    transition: max-height 0.25s linear;
    overflow: hidden;
}

#collapse-button {
    width: 15px;
    height: 15px;
    transition: transform 0.25s;
}

#collapse-a {
    margin: auto 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.legend-item {
    margin: 10px 20px;
    flex: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.btn-check:focus + .btn-dark,
.btn-dark:focus,
.btn-check:checked + .btn-outline-light {
    color: #ffffff;
    background-color: #ff2e63;
    border-color: #ff2e63;
}

.legend-item div,
.legend-item img {
    margin: 0 5px;
    height: 25px;
    width: 25px;
    float: left;
}

.header {
    width: 100%;
    background-color: #252a34;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

#headd img {
    width: 20px;
}

#headd:hover {
    text-decoration: underline;
}

.head-item {
    flex: 1;
    padding: .7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    background-color: #ff2e63;
}

#start-btn-div {
    flex: 2;
}

input {
    margin: 3px 0;
}

button {
    width: 95%;
    min-width: min-content;
}

.btn,
.btn:visited {
    border-color: #ff2e63;
}

.dropdown-item {
    color: #ff2e63;
}

.dropdown-info{
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    color: #ff2e63;
}

#container {
    width: 100%;
    height: 80vh;
    margin: 30px 0 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#table {
    width: 95%;
}

#credit {
    font-size: smaller;
    color: #252a34;
    text-align: center;
    text-overflow: ellipsis;
}

.btn-dark:hover,
#start:hover {
    color: #252a34;
    background-color: #ffffff;
    border-color: #ff2e63;
}

#tutorial-div {
    width: 600px;
    height: 80vh;
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #eaeaea;
    color: #252a34;
    border: 2px solid #ff2e63;
    box-shadow: 0 0 10px #ff2e63;
    border-radius: 0.5rem;
    padding: 2%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}

#remove {
    width: 20px;
    position: sticky;
    top: 0%;
    left: 100%;
}

#tut-h {
    color: #ff2e63;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#tut-h img {
    width: 60px;
    height: 60px;
    margin: 10px;
}

#tut-h h1 {
    margin: 10px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

#instructions-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.instruction {
    flex: 1;
    display: flex;
    margin: 10px;
}

.step {
    flex: auto;
    font-weight: 600;
    font-size: 1.3rem;
}

.instruction-text {
    flex: 10;
}

#blur-bg {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: none;
}

#credit a {
    color: #ff2e63;
    text-decoration: none;
    font-weight: 500;
}

td {
    transition: background 1s;
    background: radial-gradient(circle at center, #eaeaea 5%);
    background-repeat: no-repeat;
    background-position: 0%;
}

.empty {
    border: 0.5px solid #ff2e63;
}

.start {
    border: 0.5px solid #ff2e63;
    background-image: url("images/rocket.png");
    background-color: #eaeaea;
    -webkit-user-drag: element;
    cursor: -webkit-grab;
    cursor: grab;
}

.target {
    border: 0.5px solid #ff2e63;
    background-image: url("images/target.png");
    background-color: #eaeaea;
    -webkit-user-drag: element;
    cursor: -webkit-grab;
    cursor: grab;
}

.wall {
    animation-name: wallAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    border: 0.5px solid #ff2e63;
}

.weight {
    background-color: #eaeaea;
    background-image: url("images/weight.png");
    background-size: cover;
    border: 0.5px solid #ff2e63;
}

.visited {
    animation-name: visitingAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    border: 0.5px solid #ff2e63;
}


.visited2 {
    animation-name: visitingAnimation2;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    border: 0.5px solid #ff2e63;
}

.path {
    animation-name: pathAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    background-color: #5cb85c;
    border: 0.5px solid #ff2e63;
}

@keyframes wallAnimation {
    0% {
        transform: scale(0);
        background-color: #252a34;
    }
    100% {
        transform: scale(1);
        background-color: #252a34;
    }
}
@keyframes visitingAnimation {
    0% {
        transform: scale(0);
        background-color: #160083bf;
        border-radius: 100%;
    }

    50% {
        background-color: #0f2db0bf;
        border-radius: 50%;
    }

    75% {
        background-color: #6b94dc;
        border-radius: 25%;
    }

    100% {
        transform: scale(1);
        background-color: #08D9D6;
    }
}

@keyframes visitingAnimation2 {
    0% {
        transform: scale(0);
        background-color: #2a064abf;
        border-radius: 100%;
    }

    50% {
        background-color: #600b7cbf;
        border-radius: 50%;
    }

    75% {
        background-color: #7f2abc;
        border-radius: 25%;
    }

    100% {
        transform: scale(1);
        background-color: #f67af8;
    }
}

@keyframes pathAnimation {
    0% {
        transform: scale(0);
        background-color: #5cb85c;
    }
    100% {
        transform: scale(1);
        background-color: #5cb85c;
    }
}

@media screen and (max-width: 600px) {
    #container {
        height: 71.5vh;
    }
    #tutorial-div{
        width: 90%;
        font-size: 1rem;
    }
}