* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EAEAEA;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0;
    text-align: left;
}

#container img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    size: 100%;
}

#legend {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    color: #252A34;
    max-height: 0;
    transition: max-height 0.25s linear;
    overflow: hidden;
}

#collapse-button {
    width: 20px;
    height: 20px;
    transition: transform 0.25s;
}

#collapse-a{
    margin: auto 1px;
    display: flex;
    align-items: center;
}

.legend-item{
    margin: 10px 20px;
    flex: auto;
    display: flex;
    justify-items: center;
    align-items: center;
}

.btn-check:focus+.btn-dark, .btn-dark:focus, .btn-check:checked+.btn-outline-light {
    color: #ffffff;
    background-color: #FF2E63;
    border-color: #FF2E63;
}

.legend-item div, .legend-item img {
    margin: 0 20px;
    height: 25px;
    width: 25px;
    float: left;
}

.header {
    width: 100%;
    background-color: #252A34;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.head-item {
    flex: 1;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    background-color: #FF2E63;
}

#start-btn-div {
    flex: 2;
}

input {
    margin: 3px 0;
}

button {
    width: 95%;
    min-width: min-content;
}

.btn , .btn:visited{
    border-color: #FF2E63;
}

.dropdown-item {
    color: #FF2E63;
}

#container {
    width: 100%;
    height: 85vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

#table{
    width: 95%;
    margin-top: 10px;
}

#credit {
    font-size: smaller;
    margin: 3px auto;
    color: #252A34;
    text-align: center;
    text-overflow: ellipsis;
}

.btn:hover, #start:hover{
    color: #252A34;
    background-color: #ffffff;
    border-color: #FF2E63;
}

#credit a {
    color: #FF2E63;
    text-decoration: none;
    font-weight: 500;
}

td {
    transition: background-color 0.1s linear;
    background-color: #EAEAEA;
}

.empty {
    border: 0.5px solid #FF2E63;
}

.start {
    border: 0.5px solid #FF2E63;
    background-image: url('images/rocket.png');
    -webkit-user-drag: element;
    cursor: -webkit-grab;
    cursor: grab;
}

.target {
    border: 0.5px solid #FF2E63;
    background-image: url('images/target.png');
    -webkit-user-drag: element;
    cursor: -webkit-grab;
    cursor: grab;
}

.wall {
    background-color: #252A34;
    border: 0.5px solid #FF2E63;
}

.weight {
    background-color: #EAEAEA;
    background-image: url('images/weight.png');
    background-size: cover;
    border: 0.5px solid #FF2E63;
}

.visited {
    background-color: #5bc0de;
    border: 0.5px solid #FF2E63;
}

.path {
     background-color: #5cb85c;
     border: 0.5px solid #FF2E63;
}